VITE_WHATSAPP_NUMBER=919363312124
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
BUSINESS_OWNER_PHONE_NUMBER=919363312124
META_MESSAGE_TEMPLATE=dream_drifters_enquiry
META_TEMPLATE_LANGUAGE=en
META_GRAPH_API_VERSION=v23.0
